# Build generated
build/
DerivedData/

# User-specific Xcode files
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

# User-specific data inside xcuserdata
*.xcuserdatad/

# Other Xcode related files to ignore
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.swiftpm/
.packages

# macOS system files
.DS_Store

# Temporary files
*.swp
*.lock
*.log

# User Interface State files (like UserInterfaceState.xcuserstate)
*.xcuserstate
